*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%; /* 1rem = 10px */
}

body{  
  font-family: 'Roboto', sans-serif;  
}
button{
  cursor: pointer;
}
input{
  height: 4.2rem;
  border: solid 1px var(--base-button);  
  background: var(--base-input);
  font-size: 1.4;
  line-height: 1.9rem;

  margin-bottom: 1.6rem;
  padding: 1.2rem;
  border-radius: 0.8rem;
  
  outline: none;
}
:root{
  --base-card: #f3f2f2;
  --base-input: #ededed;
  --base-button: #e6e5e5;
  --base-hover: #d7d5d5;
  --base-label: #8d8686;
  --base-text: #574f4d;
  --base-subtitle: #403937;
  --base-title: #272221;

  --white: #ffffff;
  --black: #202024;

  --background: #fafafa;

  --purple-dark: #4b2995;
  --purple: #8047f8;
  --purple-light: #ebe5f9;

  --yellow-shadow: #c47f1777;
  --yellow-dark: #c47f17;
  --yellow: #dbac2c;
  --yellow-light: #f1e9c9;
}